@using Backpack.Mvc.Helpers
@model Backpack.Site.Areas.Bootstrap.Models.UserData

@{
  ViewBag.Title = "Text Box MVC Helper";
}

<h2>Text Box MVC Helper</h2>

@using (Html.BeginForm())
{
  <div class="row">
    <div class="col-xs-12 col-md-6 center-block">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Employee Information</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email *")
              @Html.TextBox5For(m => m.Email,
                  Html5InputTypes.email,
                  "Email",
                  "Enter Email Address",
                  true,
                  true)
          </div>
          <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password *")
            @Html.TextBox5For(m => m.Password,
                  Html5InputTypes.password,
                  "Password",
                  "Enter Password",
                  true,
                  false)
          </div>
        </div>
        <div class="panel-footer">
          @Html.SubmitButton("Submit")
          @Html.SubmitButton("Cancel", "cancelButton",
                true, "btn-default")
        </div>
      </div>
    </div>
  </div>
}